html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

/* head {
  width: 100%;
  background-color: rgb(0, 0, 0);
} */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  
}



header {
  height: 64px;
  position: absolute;
  top: 600px;
  width: 100%;
  text-align: right;
  z-index: 2;
  /* background-color: rgb(75, 44, 44); */
  /* color: white; */
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}

.logo {
  color: rgb(0, 0, 0);
  position: absolute;
  left: 20px;
  top: 600px;
}

.btn1 .btn2 {
  color: rgb(0, 0, 0);
}


header ul {
  overflow:hidden;
  list-style:none;
  margin: 0 auto;
  z-index: 20;
  /* 重なりを表現出来る */
}
  
header ul li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
}

header ul {
  overflow:hidden;
  list-style:none;
  margin: 0 auto;
  z-index: 1;
  }
  
header ul li {
  display: inline-block;
  }

  a {
   color: black;
   text-transform: uppercase; 
   /* すべての文字が大文字配置になる */
  }

  .btn {
    text-decoration: none;
  }

  .btn:hover {
    color: rgb(164, 167, 0);
  }

  /* .img1 {
    background-color: black;
    width: 100%;
    height: 600px;
    z-index: 1;
  } */

  .video-wrap {
    position: relative;
  }

  video {
    display: inline-block;
    margin: 0;
    padding-right: 180px;
    height: 600px;
    z-index: 2;
  }
   
  .pic {
    z-index: 2;
    max-width: 100%;
    padding-top: 100px;
    /* padding-left: 100px; */
  }

  /* 画像配置 */

  .blank {
    width: 100%;
    height: 64px;
    background-color: rgb(255, 255, 255);
  }






  main ul {
    padding: 0;
  }
  main ul li {
    list-style-type: none;
  }
  main li {
    margin: 50px;
  }
  figure {
    margin: 0;
    max-width: 60%;
    text-align: center;
  }
  img {
    vertical-align: bottom;
    max-width: 50%;
  }
  .txt {
    width: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
  }
  h1 {
    font-size: 24px;
  }
  .photo {
    max-width: 100%;
    
  }
  .photo li {
    display: flex;
  }
  .photo li:nth-child(even) {
    flex-direction: row-reverse;
  }
  .photo li .txt {
    padding: 0 15px;
  }
  
  



















 .img1 {
   width: 100%;
   background-color: black;
 }










  section {
    display: flex;
    /* margin-bottom: 60px; */
    /* justify-content: space-between; */
    /* padding-left: 100px; */
    margin: 0;
  }

  section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  /* .pic { */
    /* width: 800px; */
    /* margin-right: 32px; */
    /* z-index: 1; */
  /* } */

  img {
    /* display: flex; */
    width: 50%;
    box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.5);
    z-index: 1;
  }

  .detail {
    color: white;
    width: 50%;
    padding: 100px;
    /* width: calc(100% - 50% - 32px); */
    padding-right: 100px;
  }


 /* 数字１〜２４ */

 

 .number {
   font-family: serif;
   font-size: 300px;
   position: relative;
   z-index: 3;
   top: 0;
   left: 0;
   color: rgb(0, 0, 0); 
 }
 
 .bbox {
   height: 100px;
   width: 100px;
   background-color: yellowgreen;
 }

 h2 
 {
   color: rgb(0, 5, 53);
   font-family: serif;
   font-size: 150px;
   z-index: 4;
 }




 /* text animation h2  */
 


 #animation {
  margin: 50px 0;
  font-size: 100px;
  font-weight: bold;
  color: #00460c;
  }
  
  .fadeInDown {
   -webkit-animation-fill-mode:both;
   -ms-animation-fill-mode:both;
   animation-fill-mode:both;
   -webkit-animation-duration:3s;
   -ms-animation-duration:3s;
   animation-duration:3s;
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
   visibility: visible !important;
  }
  @-webkit-keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }





  /* body {
    background: #000; */
  .video-wrap {
    position: relative;
  }
  video {
    display: block;
    margin: 0 0 0 auto;
    max-width: 100%;
  }
  /* p {
    font-family: serif;          
    color: #fff;
    font-size: 400%;
    position: absolute;
    left: 30%;
    top: 200px;
    z-index: 1;
  } */


/* 映像 */

  /* .video-wrap {
    position: relative;
  }
  .title {
    font-family: serif;          
    color: #fff;
    font-size: 400%;
    position: absolute;
    left: 30%;
    top: 200px;
    z-index: 1;
  } */




 